* {
  font-family: Arial;
  color: #333;
}



.container {

  margin: 20px;
}

.search-results {
  position: absolute;
  width: 300px;
}

.search-result {
  background-color: #FF0;
  position: relative;
  width: 100%;
  height: 30px;
}

#widget-selected {
  display: none;
}

input#search-name {
  width: 300px;
}